[2016-03-23 12:49] daslicht opened #1 "Adding React-Router"
Hi,
I am following this tutorial here :
https://github.com/reactjs/react-router-tutorial/tree/master/lessons/05-active-links
When I add the following element :

[code]

I get this Type Error here :

![](http://i.imgur.com/9RMLdpQ.png)

here is the full code:

[code]

I have installed  react-router using jspm and its typings via typings --ambient

[2016-03-23 13:19] daslicht commented on #1
I have now added an Interface with the Link Props and the error is gone:

[code]

I that the correct way top solve such kind of issue ?

[2016-04-15 10:09] piotrwitek commented on #1
Hi @daslicht,
Sorry for my late reply, I haven't setup my repo notifications properly.
I see in your code you are missing declaration of "to" props in you LocalProps interface, then when using NavLink component you have also to add it to your component declaration.

But it is good idea to introduce React Router example into starter-kit, I will try to add it soon.
Cheers.

[2016-04-15 13:12] daslicht commented on #1
anything fine ! I will try it again later

[2016-06-01 17:38] piotrwitek opened #2 "Add async/await ES5 example with regenerator"
It is possible to use async/await transpiled to ES5 with only TypeScript and Regenerator with this setup.
Don't need to add Babel in to workflow.
I'm successfully using it in my  commercial closed source project, that's working even for IE 10+, with just Promise polyfill.
I'll add example in next release.
Link to my explanation on TypeScript ES6 Generator support thread:
https://github.com/Microso

[2016-06-22 16:12] piotrwitek opened #3 "rewrite"
starting to work on a rewrite as I have iterated on this starter kit with several of my commercial and other open-source projects and came up with new conventions, and best practices

[2016-07-10 17:28] #3 closed, assigned to piotrwitek

[2016-07-10 17:30] piotrwitek commented on #2
added regenerator
example code in progress

[2016-07-10 17:42] piotrwitek opened #4 "Improve bundling for production workflow"
Has some issues with bundling for production workflow, working on better approach.
Aiming for next release v0.6.0

[2016-07-11 21:53] piotrwitek opened #6 "TypeScript 2.0 on horizon"
https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/

Will definitely put that into starter-kit to adhere to newest standards and stay up-to-date as the main goal of this boilerplate

[2016-07-12 13:04] piotrwitek commented on #1
I have reconsidered this enhancement again, and decided that I won't put it in the master but rather in the branch.

Rationale is that main purpose of this boilerplate is to provide just bare minimum scaffold of project and shouldn't include routing lib as I don't want to handicap devs who don't want to use React-Router or have a preference in other routing library.

[2016-07-12 13:27] piotrwitek opened #7 "Adding tests harness to example code"
Probable setup:
- Mocha
- Chai
- SinonJS

or
- Jasmine
- Karma

[2016-07-14 21:06] piotrwitek commented on #7
After evaluation goal is to to run tests that are written in TypeScript without transpilation and with directly importing using SystemJS module loading with plugin for typescript.
Good read fro reference:
https://medium.com/javascript-scene/why-i-use-tape-instead-of-mocha-so-should-you-6aa105d8eaf4#.vc7h4khlk
https://medium.com/javascript-scene/what-every-unit-test-needs-f6cd34d9836d#.jxt0aapkl
ht

[2016-07-14 22:43] piotrwitek commented on #7
[code]

baseUrl in jspm config has to be empty or cannot exist! - karma-jspm very buggy right now, alternative karma-systemjs

[2016-07-15 15:18] piotrwitek commented on #6
using npm @types instead of typings

[2016-07-16 13:28] piotrwitek commented on #7
Added test harness setup using Tape (blue-tape) - included example code and @types

[2016-07-16 13:28] #7 closed, assigned to piotrwitek

[2016-07-21 13:41] piotrwitek opened #8 "improve linter configuration by using best practices from airbnb"
my investigation details will be noted here: https://gist.github.com/piotrwitek/f15ad4bf2297ac60d06581f188ee52ff

[2016-07-30 12:32] piotrwitek commented on #4
Added new development build workflow
@bbb1af6419c0d5e1029d95f3c5d3970db90a7ff4

[2016-07-30 12:32] #4 closed, assigned to piotrwitek

[2016-08-01 08:51] #8 closed, assigned to nobody

[2016-08-02 12:40] piotrwitek commented on #2
examples available in my other repo, - need to copy them
https://github.com/piotrwitek/react-currency-converter/blob/master/src/components/main.tsx

[2016-08-08 20:42] piotrwitek commented on #6
https://github.com/piotrwitek/react-ts-jspm-starter-kit/releases/tag/v0.7.0

[2016-08-08 20:42] #6 closed, assigned to piotrwitek

[2016-08-09 20:07] piotrwitek opened #9 "Add Redux"

[2016-08-09 20:09] piotrwitek opened #10 "Add Web Services API integration example"

[2016-08-09 20:11] piotrwitek opened #11 "Add integration with D3.js Map plugin"

[2016-08-12 12:34] vith opened #12 "`npm i` fails"
[code]

[full terminal session](https://gist.github.com/vith/b2ac439a8f3ad5740f2a1124a5ebfdc8)

version: `v0.7.1-1-gae651fc`

[2016-08-12 12:37] vith commented on #12
[npm-debug.log](https://gist.github.com/vith/b040804085512f4bb0bd5909e622bd18)

[2016-08-12 13:09] piotrwitek commented on #12
@vith thanks for detailed report, I have checked on clean ubuntu installation with zero global deps and install working fine, it seems like a problem with plugin typescript transpiler.
Could you try to delete jspm_packages folder and reinstall jspm deps with jspm install, then try to manually run `npm run bundle-dev` command

Other that that, I'm not sure what could be the problem.

[2016-08-12 13:11] piotrwitek commented on #12
but event then solution should be working fine but without dev-bundle optimization, please try to run `npm start` to see if project is starting

[2016-08-12 13:23] vith commented on #12
Same error after deleting `jspm_packages`, running `jspm install` and `npm run bundle-dev`. But yes, `npm start` seems to work fine.

I'll see if I can reproduce it in a new VM.

[2016-08-12 13:31] piotrwitek commented on #12
@vith Would be great if you can share your findings :)

Also please check maybe you have a typescript or jspm packages installed
globally, I would try to uninstall them as well and try again with
`bundle-dev`.

Pozdrawiam,
Piotr Witek

2016-08-12 15:23 GMT+02:00 Jason Papakostas notifications@github.com:

[2016-08-12 13:52] vith commented on #12
I am able to reproduce it in `antergos-2016.07.19-x86_64.iso` live environment (2GB wasn't enough to avoid oom, 4GB was). All I did was:

[code]

Again no difference if I remove the `jspm_packages` directory and run `./node_modules/.bin/jspm install && npm run bundle-dev` manually.

Inside the VM there's definitely no global install of `typescript` or `jspm`.

[2016-08-12 14:04] piotrwitek commented on #12
Thanks, I gonna check it also with antergos to see if that's some machine specific issue.

[2016-08-12 14:23] vith commented on #12
I also just tested on `Fedora-Workstation-Live-x86_64-24-1.2.iso` live environment and could not reproduce with Fedora's packaged nodejs. However, I installed newer nodejs with https://rpm.nodesource.com/setup_6.x and was then able to reproduce.

I'm guessing the Ubuntu version you tested has old enough nodejs to not be affected.

Arch Linux: node v6.3.1: affected
Fedora 24: node v4.4.7: not affec

[2016-08-12 14:30] piotrwitek commented on #12
this is my config, should be same as your original
{ npm: '3.10.6',
  ares: '1.10.1-DEV',
  http_parser: '2.7.0',
  icu: '56.1',
  modules: '48',
  node: '6.3.1',
  openssl: '1.0.2h',
  uv: '1.9.1',
  v8: '5.0.71.57',
  zlib: '1.2.8' }

[2016-08-12 14:44] piotrwitek commented on #12
also working fine on my windows laptop with this config: (linux is a desktop machine)

[code]

[2016-08-12 15:09] piotrwitek commented on #12
Could you please also check for which architecture was the node binary used
in a failing cases

On Aug 12, 2016 4:23 PM, "Jason Papakostas" notifications@github.com
wrote:

[2016-08-12 15:16] vith commented on #12
From my real Arch Linux environment:

[code]

I am unable to reproduce in a new Ubuntu 16.04.1 VM, but its nodejs is 4.2.6. Have you installed 6.3.1 from a PPA? If so which one?

[2016-08-12 15:43] vith commented on #12
I don't get the error either on Ubuntu with nodejs from https://deb.nodesource.com/setup_6.x:

[code]

[2016-08-12 21:28] piotrwitek commented on #12
Yes I have installed from nodesource, seems like Arch linux using some kind of community driven repository and might be the case of some differences in node binary
https://nodejs.org/en/download/package-manager/#arch-linux

[2016-08-13 05:21] vith commented on #12
Arch Linux's "community" repo contains official packages. It's just called community because packages in there started out as unofficial AUR (Arch User Repository) packages but have been adopted by the official maintainers (Trusted Users).

From Fedora using https://rpm.nodesource.com/setup_6.x, where I do get the error:

[code]

`npm version` output is identical to what I get on Ubuntu, where the

[2016-08-13 08:14] piotrwitek commented on #12
Yea seems like a random bug in node or plugin-typescript.
You could try to use other node ver. that seems to work on your distro, e.g. 4.X which is more stable I suppose and would work on your system.
You can utilize tools for node version management like `https://github.com/nodenv/nodenv` to set up a local version of node just for that folder and use 6.X for the rest as usual.

[2016-08-24 23:37] piotrwitek commented on #9
work in progress: https://github.com/piotrwitek/react-currency-converter/tree/redux

[2016-08-24 23:39] piotrwitek commented on #12
I'm closing this as I cannot see anything possible that I could do

[2016-08-24 23:39] #12 closed, assigned to piotrwitek

[2016-08-24 23:44] #10 closed, assigned to nobody

[2016-08-26 20:24] deivers opened #13 "tsc errors"
Nice starter kit!  I've been looking for something like this for a long time.  It looks like it has all the pieces I want, and even a plan to add D3 (version 4, I hope!)

When I clone and do npm install then npm start, it seems to work, but I see the following in my ts compiler console (WebStorm):  Error:Error: Parse tsconfig error [{"messageText":"Unknown compiler option 'noImplicitThis'.","categ

[2016-08-27 10:48] piotrwitek commented on #13
Hi @deivers,
Thanks, I'm glad that you like it :)
Regarding D3 it'll definitely be an edge version, I'm also in the middle of adding a solid setup of Redux with React Router from my other project which should be finished this weekend.

Errors that you see are produced because the properties are the new features from TS v2.0 and WebStorm IDE uses it's own baked-in TS version, which is an older one

[2016-08-27 11:23] piotrwitek opened #14 "changing repository name - react-redux-typescript-starter-kit"
I decided to change repo name to better reflect the coming changes which are restructuring to use Redux as state management.
I believe that Redux nowadays is pretty standard in every application, it's battle tested and I don't see any reason to choose differently in any new React applications.

New name will be `react-redux-typescript-starter-kit`.

[2016-08-31 08:58] #14 closed, assigned to nobody

[2016-08-31 08:59] #9 closed, assigned to piotrwitek

[2016-08-31 08:59] piotrwitek commented on #1
@daslicht just to let you know React-Router added

[2016-08-31 08:59] #1 closed, assigned to piotrwitek

[2016-08-31 09:00] #2 closed, assigned to piotrwitek

[2016-08-31 09:00] daslicht commented on #1
nice

[2016-09-15 12:20] jonaskello opened #15 "Typescript compile has errors (using the tsc version in the starter kit)"
Nice work on the starter kit!

I add a npm script to run the typscript compiler in `package.json` like this:

[code]

Then when I run `npm run tsc` I get a bunch of compile errors.
There are some things missing in `tsconfig.json`. I'll try to do a PR to show more what I mean.

[2016-09-15 12:29] jonaskello commented on #15
When the PR is applied these errors are left and I am not sure how to fix them:

[code]

[2016-09-15 12:40] piotrwitek commented on #15
Hello,
As mentioned this project is powered by jspm which uses systemjs-builder and plugin-typescript for in browser transpilation for dev and build process for prod workflow.

The config you are mangling with is only used for IDE tooling, the real config for prod transpilation which you want to run is here: https://github.com/piotrwitek/react-redux-typescript-starter-kit/blob/master/jspm.config.j

[2016-09-15 13:26] jonaskello commented on #15
Well, tsconfig.json is not primarily for IDE tooling but for the typescript compiler. The reason you would want to run the compiler is to check if you have any compilation errors. One scenario would be using notepad to edit the files and running `tsc --watch --noEmit` in a terminal to continuously check if you make any typing mistakes.

Coming from a strongly typed compiled language background I r

[2016-09-15 14:19] piotrwitek commented on #15
Thanks for your explanation and I'm sorry, probably you didn't understand me, to be more explicit I was refering to the role of tsconfig in this project context, not in general :)

Basically my workflow for the scenario that you have explained is using Atom Editor with `typescript-atom` plugin, whenever I need to do your check 'truth' scenario I can try to run built-in compiler service with mentio

[2016-09-15 15:50] piotrwitek commented on #15
@jonaskello You made me curious, could you please elaborate what you mean by stating "plugin-typescript run a subset of the typescript compiler via it's API"?

Looking at the TypeScript Architecture Overview, tsc CLI (that you are referring to as TS Compiler) and language service that is used by plugin-typescript all in all are communicating with the same core TypeScript Compiler, and I don't unde

[2016-09-15 17:52] jonaskello commented on #15
On my team we use a mix of Webstorm, Sublime and vscode. They all have plug-ins for typescript but they can be a bit flaky. So even if the IDE is reporting one thing, running tsc may say something else. Running tsc also becomes the least common denominator for all members of the team, regardless of which IDE they use.

By hidden error I mean that if you clone this repo today and just run a simple

[2016-09-15 19:41] piotrwitek commented on #15
@jonaskello Thanks Jonas for sharing your experience, it's very interesting.
I totally agree with your approach for using tsc as a common denominator and I'm glad that you find this project useful :smile:
I remember that In some earlier version it was working using tsc commands, but since it got more dependencies added, TS version updated and I started using @types instead of typings, and during a

[2016-09-15 21:16] piotrwitek commented on #15
Some findings:
- there are issues with -watch option as it will always do a full source recompilation due lack of optimizations (Microsoft/TypeScript/issues/8479) which in a medium size real project it can take 11 sec on average
- there is a planned feature to resolve this issue in v2.1: https://github.com/Microsoft/TypeScript/issues/3204
- Atom (typescript-plugin) solves it by using incremental b

[2016-09-15 21:37] jonaskello commented on #15
Yes I remember now I had trouble with tsc --watch and hot reloading earlier this year. I actually made a [comment](https://github.com/Microsoft/TypeScript/issues/3204#issuecomment-178808313) on the issue you mention. Basically you cannot do tsc --watch combined with hot reloading since it will write to all files and all will be hot reloaded.

So for now it would probably be best to just run tsc ma

[2016-09-15 21:46] piotrwitek commented on #15
Ah ok so this is basically WebStorm TypeScript Language service limitation.
In Atom you can check for project-wide errors with build command as I mention, in my opinion it is working really solid, and if you create a new file or rename existing one you have a "Sync Typescript" command to fix that.

[2016-09-15 21:57] jonaskello commented on #15
I've also tried vscode which have the same limitation AFAIK. Webstorm has a few features that I find it hard to get by without, like optimize imports and auto-resolve import for es6 modules. I haven't tried atom lately, will give it a spin again.

Anyway, getting a bit derailed here :-). The point was that regardless of your choice of IDE you should also be able to do a simple tsc in the terminal

[2016-09-15 21:59] piotrwitek commented on #15
right, in my opinion should be doable

[2016-09-16 11:33] piotrwitek commented on #13
@deivers this issues are resolved and should be merged later today
Right now compilation should work also using `npm run tsc` or just  `tsc -p src` cli command, or if your ide is using local npm typescript installation
acknowledgement to @jonaskello for his contribution

[2016-09-16 11:33] #13 closed, assigned to nobody

[2016-09-16 15:20] piotrwitek commented on #15
tsc errors fixed and added new CLI based type-checking workflow

[2016-09-16 15:23] piotrwitek commented on #15
[NO-IDE workflow notes](https://github.com/piotrwitek/react-redux-typescript-starter-kit/blob/master/README.md#dev-workflow)

[2016-09-16 15:25] piotrwitek commented on #15
@jonaskello reopening & waiting for your feedback if everything working fine :)

[2016-09-16 18:39] jonaskello commented on #15
Good notes in the readme. I did some testing working with sublime without any plug-in, just using tsc:watch for type checking. Worked perfectly, nice work! :-). I'll close as tsc dev-flow now works flawlessly.

[2016-09-16 18:39] #15 closed, assigned to nobody

[2016-09-20 16:33] jonaskello opened #17 "npm run build gives errors"
Maybe just on my computer, but I get this on a freshly cloned copy of this repo:

[code]

[2016-09-20 16:48] jonaskello commented on #17
Forget about it, forgot to run npm install after I cloned the repo! I still have trouble getting the build to run in my project that is based on this starter but that is probably related to some changes I made outside of the starter-kit. Sorry for the non-issue!

[2016-09-20 16:48] #17 closed, assigned to nobody

[2016-09-21 09:21] Waterstraal opened #18 "Finish demo/examples"
It seems to me that the demo on http://piotrwitek.github.io/react-redux-typescript-starter-kit/ is not working properly.
- Page **Home**: I don't see a list of projects here as the text "Here you can find real world projects made using this starter-kit." suggests?
- Page **Currency Converter**: The "Currency Converter" isn't converting anything?

[2016-09-21 09:23] piotrwitek commented on #18
Sorry, content is not finished yet :)

[2016-09-21 09:31] Waterstraal commented on #18
Ah I thought I was missing something haha, thanks :).

Any idea when it will be finished?

[2016-09-21 09:35] piotrwitek commented on #18
Yea probably I should write something like WIP :)
Right now I'm going on vacation for 2 weeks without laptop access, but
after my return I'll probably finish it in about 2 weeks.

Pozdrawiam,
Piotr Witek

2016-09-21 11:31 GMT+02:00 Waterstraal notifications@github.com:

[2016-10-04 08:42] Waterstraal opened #19 "Add redux-observables for async flow handling in demo/examples"

[2016-10-04 12:27] piotrwitek commented on #19
yes it's already on my plate, I'm coming back to work in 2 days and continue working on this

[2016-10-06 12:00] guillaume86 opened #20 "Build task should generate a index.html in dist/"
I tried to make it work by copying the base index.html and adapting the scripts urls to the ones in /dist/ but app.js failed to load.

Could you generate the proper html (maybe by "patching" the root index.html?) in addition to the js files?

Unrelated:
Thanks for this repo, that starter kit looks really interesting to me, the dev performance aspect in particular.

[2016-10-06 12:29] guillaume86 commented on #20
You can ignore this, I missed the assets folder... sorry

[2016-10-06 12:29] #20 closed, assigned to nobody

[2016-10-06 12:30] piotrwitek commented on #20
Hi @guillaume86 ,
Cool, no problem but it means that I should update documentation on this, thx for your input.

I could add it to the queue, but right now I have a list of more important features to add.
Contributions are welcome :)

[2016-10-06 12:42] guillaume86 commented on #20
I'll have to evaluate different frameworks (React/Redux vs Angular2) for my job in a week or two.
I'll probably use your starter kit as a base for the react prototype, I'll contribute if I manage to do useful and clean additions.

I'm not experienced with the React/Redux/TS combo so I'm not sure I'll be very helpful, but your code is very informative so thanks.

[2016-10-06 12:45] piotrwitek commented on #20
Any kind of feedback is valuable for me to improve :) Thanks and good luck
in finding the best solution for your project.

Pozdrawiam,
Piotr Witek

2016-10-06 14:42 GMT+02:00 Guillaume Lecomte notifications@github.com:

[2016-10-06 23:02] piotrwitek opened #21 "Big CSS-MODULES update WITH TYPED CLASS-NAMES"
I've been working on a new feature and today I'm releasing it:
Check it out!
### CSS-MODULES WITH TYPED CLASS-NAMES

Own concept to achieve locally scoped CSS styles using [csjs](https://github.com/rtsao/csjs#faq) with statically typed CSS class-names using TypeScript.
- Full CSS support with pseudo-classes & media queries, encapsulated in ES6 Modules that can be nicely imported by your UI compone

[2016-10-06 23:11] piotrwitek commented on #21
Overview Video on Youtube: https://youtu.be/67pPYqom2a0

[2016-10-06 23:13] piotrwitek commented on #18
@Waterstraal added some working example with CSS Modules
added WIP info for currency converter

[2016-10-06 23:18] piotrwitek commented on #21
Updated demo page: http://piotrwitek.github.io/react-redux-typescript-starter-kit/#/css-modules

[2016-10-08 03:37] krokofant opened #22 "Missing bundle-dev script"
`"postinstall": "jspm install && npm run bundle-dev"`
This runs after install but fails at bundle-dev since there is no such script.

[2016-10-08 08:37] piotrwitek commented on #22
@krokofant thanks for pointing this little bug I haven't spot during refactoring script name :)
fix ready: 389a4bb8b56504e30cd5a122208d3311124c5caf

[2016-10-08 08:37] #22 closed, assigned to nobody

[2016-10-11 10:31] kdalgaard opened #23 "Compile TS generators to ES5 without Babel?"
Resuming the discussion from here: https://github.com/Microsoft/TypeScript/issues/1564#issuecomment-252832787

I contend that the method below (from the docs of this starter) is not possible, due to the simple reason that it's not possible to compile TS with generators intact to an ES5 target in the first place.

[2016-10-11 11:26] piotrwitek commented on #23
It is possible - it works because TypeScript compiler is emitting output files even if there are some errors during a compilation process. In case of generator functions, TSC will show an error about unknown syntax and it will omit this code block leaving it intact (NOTE: noEmitOnError flag should have default value - which is false)

[2016-10-13 09:04] karudo opened #25 "strictNullChecks: true by default"
I think, if we use typescript 2, we should set strictNullChecks: true by default. What is your opinion?

[2016-10-15 16:40] piotrwitek commented on #25
Yes I would definitely try to switch strictNullChecks because of the benefits it could bring to my code base, though currently I have other things on my plate, I will certainly add it in the future.
Thanks for suggestion.

[2016-10-21 10:12] maxali opened #26 "cross-platform npm scripts"
There are some npm scripts that are using Linux special commands like:
`cp` command in `init:dist`, `regenerator` and `post_jspm-bundle-vendor-prod`.

This will not work in Windows environment. I had to use `Cygwin` tool to use linux commands.

We may create nodejs build file (build.js) which would make use of `fs`, and call it from npm scripts like `node ./build --some arguments`.

Do you have an

[2016-10-21 12:25] piotrwitek commented on #26
@maxali I can look into that in the future, but I'm not using windows so I'll not be able to test it.
If you'd like you can try to create this build script yourself, please submit PR then I'll review it and add it to the project.

[2016-10-21 12:25] #21 closed, assigned to nobody

[2016-10-22 13:25] maxali commented on #26
Submitted PR #27 to solve this.

[2016-10-27 20:35] piotrwitek commented on #23
closing as this was already thoroughly explained here: https://github.com/Microsoft/TypeScript/issues/1564#issuecomment-252903932

[2016-10-27 20:35] #23 closed, assigned to nobody

[2016-10-29 13:27] piotrwitek commented on #26
@maxali I have investigated this suggestion and decided I'll rather use https://www.npmjs.com/package/shelljs project instead of proposed ncp.
Other concerns:
- There are `mv` commands that ncp will not resolve, shelljs handle this
- shelljs is more mature
- more versatile

[2016-10-29 13:33] piotrwitek commented on #26
I'll rewrite commands entirely as node scripts, to clean up cluttered package.json.

[2016-10-30 00:56] piotrwitek commented on #26
@maxali Done: https://github.com/piotrwitek/react-redux-typescript-starter-kit/pull/28

[2016-10-30 00:56] #26 closed, assigned to piotrwitek

[2016-10-30 00:58] #11 closed, assigned to nobody

[2016-10-30 01:01] piotrwitek commented on #18
- [ ] fisnish implementing logic for Currency Converter
- [ ] try to implement using redux-observables

[2016-10-30 08:40] piotrwitek opened #29 "Enable tree-shaking for production bundle"
- [ ] Add a build scripts which will override compiler module option to use `es2015`, so Rollup tree-shaking can do it's job
- [ ] Test if tree-shaking working for production bundle
- [ ] Add relevant section in docs

[2016-10-30 08:43] piotrwitek opened #30 "Update react-router to v4"
- [ ] update dependencies
- [ ] rewrite componenets
- [ ] test and update react-router-redux

[2016-11-01 22:55] piotrwitek opened #31 "Adapt alternative scoped component styling approach"
Best up to date scoped component styling approach:
- Comparison to other available options: https://github.com/styled-components/comparison

https://github.com/styled-components/styled-components

[2016-11-01 23:21] piotrwitek commented on #19
possible alternative to redux-saga: https://github.com/clarus/redux-ship

[2016-11-03 18:19] ShiiRochi commented on #13
As far as I know, WebStorm can be configured to use custom TypeScript Compiler

[2016-11-03 18:34] ShiiRochi commented on #13
If the matter is a compiler then as far as I know, you can specify custom TypeScript compiler in WebStorm.

In the right window of settings: right to **TypeScript Version** click on **Edit** and now just specify the path route to...for example...directory where typescript was installed with `npm install -g typescript` and then to its **_lib_** subdirectory. For example:

[2016-11-16 07:45] piotrwitek commented on #25
I think I'll do it now with TS 2.1 release, with it's better support for type inference, non-nullable types (when strictNullChecks and noImplicitAny is enabled) will give a huge benefit of better type safety across entire codebase.

[2016-11-17 16:11] piotrwitek commented on #25
@karudo done! 7cb59ab453d850ca7c7de822d5222597c0329fe5

[2016-11-17 16:11] #25 closed, assigned to piotrwitek

[2016-11-17 16:13] piotrwitek commented on #25
also greatly improved Store, Reducers, Actions and Props types across the board

[2016-11-17 16:24] piotrwitek opened #32 "Document how to remove bindActionCreators boilerplate"
remove `bindActionCreators` boilerplate using object literal with actions instead of `mapDispatchToProps` function

[code]

[2016-11-17 23:38] #32 closed, assigned to nobody

[2016-12-06 19:37] jaytaylor commented on #30
Just a heads up:

It looks like react-router is already at v4 since the last two weeks.

https://github.com/ReactTraining/react-router/releases

[2016-12-07 09:22] piotrwitek commented on #30
Thanks :) For v4 I'm waiting for it to leave alpha, because API can probably break.

[2016-12-09 21:49] piotrwitek opened #33 "improve test harness setup"
Figured out nice mocha setup for TypeScript:

[code]
[code]

[2016-12-11 00:46] piotrwitek commented on #33
my solution ready: https://github.com/piotrwitek/ts-mocha, just set it up with some example tests to show off

[2016-12-15 00:33] piotrwitek commented on #33
mirgating to jest: #34

[2016-12-15 12:41] piotrwitek commented on #33
merged

[2016-12-15 12:41] #33 closed, assigned to piotrwitek

[2016-12-20 17:20] cramhead commented on #19
I've been playing about a bit with [redux-observables](https://redux-observable.js.org/) as an alternative to sagas. I'm currently feeling that it will offer a more expressive and compact mechanism for higher level coordination logic in my app. It's very testable and performant too.

[2016-12-20 19:14] piotrwitek commented on #19
@cramhead Unbelievable, because no more than a week ago in our newest project we are building from ground up, we came to the same conclusion and actually starting to experiment with redux-observables as a more powerful approach to Redux, and we are convinced to make a switch :)

Probably then I'll also make an examples with an unfinished Calculator example using redux-observables and my new cool w

[2016-12-20 20:38] cramhead commented on #19
Super cool.
Also, the reduction in boilerplate with the new type inferencing will be awesome.

[2016-12-21 22:31] Waterstraal commented on #19
We've actually opted for angular2 with [ngrx/store](https://github.com/ngrx/store) & [ngrx/effects](https://github.com/ngrx/effects), which is basicly redux with observables, because we found it extremely powerfull! I'm glad to see the React community is starting to see this now too!

[2017-01-13 19:21] awartoft opened #37 "How do you handle typings/tsd?"

[2017-01-13 19:27] piotrwitek commented on #37
I use only @types repository from npm, which is a proper way recommended by TypeScript to handle managing types in your application.
Remember to use --dev flag when installing, this is especially important for node applications/modules, less important for web apps.

e.g. `npm i -D @types/react`

This pattern even support using specific version of typings for a library you are using:

e.g. `npm i -

[2017-01-13 20:20] awartoft commented on #37
I see i'm migrating our website from a rather obsolete build system to using this one instead, which shows great promise. But I'm currently running into a bunch of problems.

`yarn run start` works fine but i'm getting a lot of 404 on the localhost:8888 but `yarn run tsc` works just fine ? Any suggestions on how to debug that.

[2017-01-13 20:33] awartoft commented on #37
Hmm, my bad i had files with `.ts` and not `.tsx`, so progress :)

[2017-01-13 20:59] awartoft commented on #37
I'm having a slight issue with the dependency `react-perfectscrollbar`

[code]

[2017-01-13 21:56] piotrwitek commented on #37
@macnibblet there is a problem with the library you are using, I have already filed an issue: https://github.com/goldenyz/react-perfect-scrollbar/issues/1

the solution is to change the main entry point of library to min version rather than normal as it is referencing some webpack internal loading features.
I have created a branch with working solution for you: https://github.com/piotrwitek/react-

[2017-01-13 22:00] awartoft commented on #37
Awesome thanks :D next question how do i import our styles ? We have written them in basic scss and the readme says it supports it but I cannot figure how to import them

[2017-01-13 22:07] piotrwitek commented on #37
No problem :)
For styles use SCSS jspm loader like https://github.com/mobilexag/plugin-sass
Just follow their examples.

I can recommend also http://typestyle.io/ for TS projects but it is a different takeover on styling and need an open mind in a team :)

[2017-01-13 22:11] piotrwitek commented on #37
Ah I forgot to post react-perfect-scrollbar fix:
find a file `/react-redux-typescript-starter-kit/jspm_packages/npm/react-perfect-scrollbar@0.1.1.json`
and change: `"main": "lib/react-perfect-scrollbar.min.js",`
Now it should work

[2017-01-13 22:18] awartoft commented on #37
@piotrwitek Awesome, but alas I have another question. Almost successfully replaced the old build system with the new one. But when I reload the page now with a none "index" route e.g `/portal` i get a 404 ?

[2017-01-13 22:33] piotrwitek commented on #37
you need history api fallback for this to work on currently used dev server (jspm-hmr)
you can hook up your own dev server using express or you have to use ~~browser history~~ (I mean hashHistory) instead as in demo
it will work when I merge this: https://github.com/piotrwitek/jspm-hmr/issues/3
I didn't have time for this yet

[2017-01-20 01:56] goldenyz commented on #37
@macnibblet The issue goldenyz/react-perfect-scrollbar#1 has been fixed in the last commit. But I still have a question: why can't I reference the non-minified version, just like the other libs doing (https://github.com/reactjs/react-redux)?
@piotrwitek Could you provide more details?

[2017-01-20 08:58] piotrwitek commented on #37
@goldenyz First thanks for the fix! :)
You can reference non-minified version, it was not the reason :)
The reason was that your non-minified bundle was not properly built and was referencing some dev stuff failing in non-webpack environments :)

[2017-01-20 09:29] goldenyz commented on #37
@piotrwitek Thanks for the information. I will try to make it reference to the non-minified version again. Do you know how to verify that my fix is correct?

[2017-01-20 09:38] piotrwitek commented on #37
@goldenyz you can use the branch I have created for @macnibblet to verify against ES Modules powered bundlers like JSPM/rollup, (necessary code example is already implemented there).

just do:
- clone https://github.com/piotrwitek/react-redux-typescript-starter-kit/tree/react-perfect-scrollbar-demo
- then installation steps from readme

now reinstall react-perfect-scrollbar to new version with:
`j

[2017-01-20 09:54] goldenyz commented on #37
@piotrwitek Thanks. It is really kind of you. Will let you know if I fixed it.

[2017-01-20 09:58] piotrwitek commented on #37
@goldenyz I'm glad I could help, I also appreciate your efforts to fix the issue for other environments :)

[2017-01-22 08:54] goldenyz commented on #37
@piotrwitek FYI. It has been fixed in the newest version, which still reference to the non-minified version in main. Thanks again for raising this issue.

[2017-01-22 12:23] piotrwitek commented on #37
@goldenyz cool! I have updated branch demo to a new version and tested. Now it's working without problems, great job!
I'll close this issue as it have been fully covered.

[2017-01-22 12:23] #37 closed, assigned to nobody

[2017-01-30 10:34] maxali opened #38 "Error: Cannot read property 'System' of undefined"
I am getting `Cannot read property 'System' of undefined` whenever I try to `npm start`. I clone the package again and still getting this error.

![image](https://cloud.githubusercontent.com/assets/1834466/22419919/f837d154-e6df-11e6-8d4e-0b5135882e5b.png)

[2017-01-30 12:13] piotrwitek commented on #38
From description it seems like a missing System.js dependency

I'm guessing, did you execute all the installation process steps?
In particular these: `npm install` & `npm run init`?

[2017-01-31 10:31] rvangsgaard commented on #38
I am getting the exact same error. I did run the commands in the correct order.

At first run I did not have Global JSPM installed, if that should make a difference.

[2017-01-31 10:34] piotrwitek commented on #38
Cool, thanks for reporting, I will get a clean clone and try to reproduce on my machine.
Btw. what OS are you using?

[2017-01-31 12:11] rvangsgaard commented on #38
Originally I used MacOS X. I just tried from Ubuntu 16.04 with the same results - and this time I did install JSPM before anything else :)

[2017-01-31 16:47] JulianIsrael commented on #38
I'm getting same issue.

[2017-01-31 19:04] JulianIsrael commented on #38
I have another version of the same project, when I installed it at first it was using SystemJS v0.19.41 and the problem came when it suddenly started to use SystemJS v0.20.4 Dev. Check the system.js file within jspm_packages.

[2017-01-31 22:15] rvangsgaard commented on #38
My system.js is v0.20.4 Dev as well. Can I force it to use v0.19.41?

[2017-02-01 08:55] rvangsgaard commented on #38
It did not help to use system.js 0.19.32 in my case.

[2017-02-01 11:46] JulianIsrael commented on #38
I copy and paste the systemjs from my other project and it worked. another thing that worked to me was updating the jspm to the latest beta and also the typescript plugin, it would require that you change the code to match the breaking changes like import {poperty} from 'noESModule'  to be impor noEsModule from 'noESModule'; noESModule.property;

[2017-02-01 15:07] JulianIsrael commented on #38
I created this issue, https://github.com/jspm/jspm-cli/issues/223, maybe the "^0.17.0-beta.32" because of the ^ is downloading the latest beta. we can try using "0.17.0-beta.32" instead, and see if it works.

update: it seems to work, so by locking the version to be exact "jspm 0.17.0-beta.32" would work. but I suggest you to update it to the latest and fix your imports.

[2017-02-02 09:11] piotrwitek commented on #38
@JulianIsrael you linked a wrong issue, this is correct I believe: https://github.com/jspm/jspm-cli/issues/2233

[2017-02-06 03:53] jcrben commented on #38
@JulianIsrael thanks, pinning jspm in package.json worked:
`"jspm": "0.17.0-beta.32"`

[2017-02-06 13:32] maxali commented on #38
Thanks @JulianIsrael  It works with `jspm": "0.17.0-beta.32"`.

@piotrwitek its better to change jspm version to `0.17.0-beta.32` in package.json. It helps new `clone`s i think.

[2017-02-07 19:45] piotrwitek opened #39 "Update to SystemJS 0.20"
Because of changes introduced in SystemJS 0.20 (source: http://guybedford.com/systemjs-alignment), to be able to update to new SystemJS loader versions we need to update imports to fix problems introduced by braking changes.

Related:  #38

[2017-02-07 19:49] piotrwitek commented on #38
@maxali thanks for investigation and finding out the problem, I gonna do necessary version lock to do a quick fix, but we need to update imports to adhere to breaking changes introduced in SystemJS 0.20 in order to be able to update to new releases (source: http://guybedford.com/systemjs-alignment)

Follow up in: #39

[2017-02-07 19:57] #38 closed, assigned to nobody

[2017-02-07 20:00] piotrwitek commented on #31
another alternative we are using in our greenfield project is https://github.com/typestyle/typestyle, which is a solid choice for component based designs with react, that don't really benefit from BEM approach except an additional overhead

[2017-02-07 20:03] piotrwitek commented on #30
as react-router v4 beta was released, we can come back to updating code to use v4

[2017-02-07 20:05] piotrwitek commented on #19
redux-observables WIP on this branch: https://github.com/piotrwitek/react-redux-typescript-starter-kit/tree/redux-observables

[2017-02-07 20:18] piotrwitek opened #40 "Improve docs about differences with Webpack"
Add section in docs about differences of this workflow compared to Webpack.

Module Bundler vs. ES Module Loader for Browsers

[2017-02-07 20:30] piotrwitek commented on #40
JSPM with SystemJS aims to enable the workflow to load ES modules directly by the browser with "ES Modules" support (without the bundling process), or falling back to a SystemJS loader in browsers without such support.

[2017-02-13 12:38] maxali opened #42 "Build version uses jspm_packages folder"
Production build with `npm run build:app` loads modules from `jsmp_packages` folder.
I run `npm run init` and `npm run build:app`.

![image](https://cloud.githubusercontent.com/assets/1834466/22883441/92a844f6-f1f0-11e6-9cd2-d30ee00499ce.png)

This is the [jspm.config.js](https://github.com/piotrwitek/react-redux-typescript-starter-kit/blob/v0.12.0/jspm.config.js) i am using.

[2017-02-13 19:14] piotrwitek commented on #42
I see that browser cannot find vendor.prod.bundle.
This is a bundle that contain all your dependencies, this is why it is looking for jspm_packages as a resolution algorithm

I think if you build with `npm run build` as opposed to only building your app source code, it should resolve your problem.

Please take a look at docs: https://github.com/piotrwitek/react-redux-typescript-starter-kit#product

[2017-02-16 17:28] piotrwitek commented on #39
As this project depend on systems-hot-reloader, we need to wait for this feature to be able to update to SystemJS 0.20: https://github.com/alexisvincent/systemjs-hmr/issues/18

[2017-02-17 00:48] alexisvincent opened #43 "Consider systemjs-tools"
Hi, great project.

Wanted to let you know about [systemjs-tools](https://github.com/alexisvincent/systemjs-tools), which you might find increases dev speed/experience. It's in beta at the moment but pretty stable.

[2017-02-17 13:06] piotrwitek commented on #43
@alexisvincent thanks for referencing systemjs-tools, it looks like a really useful project for SystemJS ecosystem, although I have already created similar tool [jspm-hmr](https://github.com/piotrwitek/jspm-hmr) which is focused only on the needs of this project (more focused, less features, easier to maintain by myself).

I'll have to first investigate if systemjs-tools will cover all current nee

[2017-02-17 13:10] piotrwitek commented on #42
@maxali should be closed?

[2017-02-20 23:07] maxali commented on #42
@piotrwitek you are right. I had to run `npm run build`.

Sorry for the late reply.

[2017-02-20 23:07] #42 closed, assigned to nobody

[2017-02-23 05:23] nahuel opened #44 "Question about an alternative architecture without plugin-typescript"
What if:

1- You don't use `plugin-typescript` at all, avoiding any kind of in-browser .ts transpiling.
2- The development `tsconfig.json` is configured to emit `system`/ES5 modules to the `dist/myapp` folder:
[code]

3- The `dist/myapp` package is marked in the SystemJS config as having `"format" : "system"`, so it doesn't tries to transpile them.

Then, you compile TS from your IDE or using `tsc

[2017-02-23 21:53] piotrwitek commented on #44
Hello,
The main problem I think could be with single file emit, which was achievable only in https://github.com/TypeStrong/atom-typescript in Atom in time I was starting this project.

It wasn't even possible with compiler, basically it was some custom implementation patching typescript language server.

plugin-typescript achieve the same feature while loading in browser, and otherwise with tsc/ed

[2017-02-24 02:11] nahuel commented on #44
Isn't `tsc --outFile` single file emit? Besides that, I wasn't talking about using `tsc` to compile all the .ts codebase to a single file, but to make `tsc` generate a .js file (system/ES5 module format) for each .ts one. Then in development mode `tsc --watch` will be run manually or by the IDE, so when you change a .ts file his related .js file will be updated, and `systemjs-hot-loader` will be n

[2017-02-24 10:32] piotrwitek commented on #44
I'm not talking about concatenate outFile, with single file emit what I mean is to emit only modified module without emitting all the other in dependency tree.
You cannot do this with tsc, it will  always reemit all modules, please try that in some very simple scenario and check modify date of emitted JS files.
And because of this issue your hot-reload will stop working correctly as it will always

[2017-02-25 15:42] nahuel commented on #44
good point, I think `tsc` should re-compile the dependencies only if the signatures exported changed on the updated module. But given the current `tsc` behavior, I'm not really sure is slower than `plugin-typescript` for practical use cases. Usually tsc sits on background and is very fast, having the compilation results persisted on disk seems to be an advantage, and for many projects you usually

[2017-02-25 19:26] piotrwitek commented on #44
no problem, you might also search in TypeScript repo issues something more about this behaviour, maybe something changed in this matter, wish you luck :)

[2017-02-25 19:26] #44 closed, assigned to nobody

[2017-03-02 11:03] #19 closed, assigned to nobody

[2017-03-02 11:51] piotrwitek commented on #18
resolved with #36

[2017-03-02 11:51] #18 closed, assigned to piotrwitek

[2017-03-06 11:29] 1moere1 opened #48 "build:dev missing and npm start fails"
build:dev script missing and npm start fails as it search for a "start" script. I executed everything as mentioned in readme

[2017-03-06 11:42] piotrwitek commented on #48
@1moere1 hello, there was a fix published not long ago, could you please pull recent changes and check if working now?

[2017-03-06 12:06] 1moere1 commented on #48
thanks works

[2017-03-06 12:06] #48 closed, assigned to nobody

[2017-03-10 10:59] alexhumanbean opened #49 "It's not working with IE"
Hi, I'm trying to run this boilerplate. There are two issues:
1) It's not started after "npm start" (npm ERR! missing script: start), but it's working after "npm run dev"
2) It's not working with IE 11 - I see endless square in the middle of screen  (everything is OK with Google Chrome)

[2017-03-10 11:12] piotrwitek commented on #49
thanks for report
1) there was problem with docs, `npm start` was removed, now there is only `npm run dev` - docs are fixed

2) development with IE is not supported, although prod version should work fine...
- could you please confirm it by testing with "build for production workflow here": https://github.com/piotrwitek/react-redux-typescript-starter-kit#--build-for-production-workflow

[2017-03-10 11:25] alexhumanbean commented on #49
Yes, the production version works fine with IE.
Thank you!

[2017-03-10 11:45] piotrwitek commented on #49
@alexhumanbean cool thanks!
Please consider closing the issue if you don't have any more questions.
For rationale why IE is not supported in dev, is because I don't think IE is a good tool to do real web development, and I don't consider to waste my time into looking at this issue.
If this is something you are looking for, unfortunately you'll have to put your own effort to make it work.

[2017-03-11 20:49] #49 closed, assigned to nobody

[2017-03-12 00:52] piotrwitek commented on #39
PR is ready, although I want to test a little bit more, especially resolving issue with tslib, and also testing another with commonjs module format compatibility:
https://github.com/systemjs/systemjs/issues/1587

Currently update to SystemJS 0.20 is not worth the issues it has brought to the TypeScript support.

[2017-03-15 17:01] estaub commented on #30
AFAICT from the doc, react-router-redux (which just moved into react-router) is probably not compatible with  r-r v4, and you need to wait (as I am) for v5 of react-router-redux.  However, the doc isn't entirely clear on it.

[2017-03-21 09:39] amygdaloideum opened #54 "Jest-tests can not use jspm-modules."
JSPM-mappings is not used by jest. Attempts to import front end dependencies in a test generates an error.

I am currently having a look at [jest-jspm](https://github.com/yoavniran/jest-jspm) as a possible solution.

[2017-03-21 09:53] piotrwitek commented on #54
@amygdaloideum that would be cool 👍 , please share if you can manage to make it work

[2017-03-24 20:37] gilamran opened #55 "Remove JSPM"
The dev speed here is amazing!
But, we already have npm and yarn all around, and the `jspm` repo is not really active that much...
Can we remove the dep. on jspm?

[2017-03-25 08:04] piotrwitek commented on #55
Hi @gilamran,
Good question, I was thinking about it many times, as I'm not comfortable with `jspm_packages` thing and would be glad to be using only `node_modules` directory only.
I have found alternative solution already but didn't had time to experiment with it, maybe you could volunteer to investigate and share your findings here or even maybe make some contribution :)

Here is a link to libra

[2017-04-28 15:26] MKHenson opened #56 "Sass files"
Hi piotrwitek. Just wanted to say thanks for this great project - very helpful.

Would you have any insight into how I could maybe include sass files? So:

    import './main-layout.scss!';

instead of:

    import './main-layout.css!';

Thanks

[2017-04-28 15:31] piotrwitek commented on #56
@MKHenson Hello, yes sure :)
please check this plugin: https://github.com/dougludlow/plugin-sass
setting it up should be easy:

here -> https://github.com/piotrwitek/react-redux-typescript-starter-kit/blob/master/jspm.config.js#L74

add this:
[code]

for more advanced configuration please check plugin page

[2017-04-28 18:44] MKHenson commented on #56
Thanks @piotrwitek , that worked a charm :)

[2017-04-28 18:44] #56 closed, assigned to nobody

[2017-04-29 08:21] martaver commented on #55
I think this setup has great potential as @gilamran says - the dev speed is amazing and dev speed is king.

I'm going to try out this SystemJS Hot Loader approach in a new project, mostly based on your boilerplate so I'm willing to put a few hours into this topic here and there.

My interests are
 - keeping the dev cycle as fast as humanly possible.
 - finding the best CSS scoping solution - I tri

[2017-04-29 11:09] piotrwitek commented on #55
Hello @Martaver :)
- typestyle - works great for me, not sure what you mean in breaks editor exp, for me it is opposite, I'm using vscode and ts language server is the best tool you can get in this regard
- JSPM is only used to generate and update jspm.config.js which defines SystemJS modules map, this is why we could use cbuild instead and get rid of it because it is the only weak point of this b

[2017-04-29 19:20] gilamran commented on #55
Meanwhile I've created my own FAST starter kit :-) based on webpack.
[https://github.com/gilamran/fullstack-typescript](https://github.com/gilamran/fullstack-typescript)

[2017-05-02 10:49] martaver commented on #55
You get the TS intellisense, but none for the actual CSS which you end up writing as strings. In practice, though, the flexibility & reusability of the TS probably wins, though.

This fuse-box thing looks great. So light. So fast. Much Typescript.

Noticed some weirdness when adding/removing new files/references e.g.
 - Add a CSS file & reference it from a component/container - do you need to relo

[2017-05-02 10:56] guillaume86 commented on #55
@Martaver I also like fuse-box very much. SystemJS get pretty slow when you're getting into the hundreds of files and I really don't like that jspm folder.

Regarding your CSS workflow issues, they're probably fixable inside fuse-box.
I had similar issues with SystemJS (old CSS persisting after change etc) and I just fixed the issue myself at the time.

[2017-05-02 22:06] martaver commented on #55
Fusebox does seem to be in winning mode.

I just discovered they're working on version 2.0 (currently in beta) - http://fuse-box.org:3333/
One of the new features include css-modules... http://fuse-box.org:3333/plugins/cssmodules-plugin
Combine that with this bad boy and we're laughing: https://github.com/Quramy/typed-css-modules

[2017-05-03 08:51] piotrwitek commented on #55
@Martaver nice idea, thanks for sharing, although I still prefer typestyles, because I don't write raw css because I prefer css as object style with the full power of JS lang to write various mixins and utility functions and then higher order functions and functional composition of styles on my components rather that style classes, leveraging style re-usage as much as possible, you can do it in cs

[2017-05-04 08:55] martaver commented on #55
I am coming around to the idea of typestyles too... and what you said does make a lot of sense. I think another great benefit of typestyles is that it will tree-shake all CSS that isn't used. Who knows maybe I will end up using it.

How do you use it practically, do you actually switch out CSS in real-time for UI styling updates, or more just use it as a once off style builder?

Also, how do you h

[2017-07-08 11:44] srivathsah opened #57 "Is there a sample for writing tests with this starter kit ?"

[2017-07-08 17:06] piotrwitek commented on #57
Here:
testing simple business logic: https://github.com/piotrwitek/react-redux-typescript-starter-kit/blob/master/src/store/currency-converter/utils.spec.tsx
testing store modules (it is not complete, but just follow the [redux testing guide](http://redux.js.org/docs/recipes/WritingTests.html)): https://github.com/piotrwitek/react-redux-typescript-starter-kit/blob/master/src/store/currency-rates/s

[2017-08-17 18:53] Benez opened #58 "I would like to use superagent"
Dear Piotr Witek,

I love your work and I just started using it, I'm trying to add a middleware in redux using superagent to query a remote API server.

How can I add dependencies correctly?

Thanks a lot for your help.

My best regards,

Stefano Benetti

[2017-08-17 20:29] Benez commented on #58
solved

Thanks :-)

[2017-08-17 20:29] #58 closed, assigned to nobody

[2017-08-17 21:02] piotrwitek commented on #58
👍

[2017-11-23 09:47] bpizzi opened #59 "Update to React 16"
Hi there, and let me first thank you for sharing this, the dev speed really is appreciable.

Back to the point: an update to react v16 could be great, given the improvements it brings.

[2017-11-23 15:37] bpizzi commented on #59
PR available #60

[2017-12-30 10:10] #57 closed, assigned to nobody

[2018-01-26 22:02] jakub-astrahit opened #61 "How to include Bootstrap 4?"
Hi, thanks for this great repo, but what would be the best way to include [Bootstrap 4](https://getbootstrap.com/) please? Add it to assets and then load in loader-styles.css?

[2018-01-26 22:08] piotrwitek commented on #61
Hi,
I would add to assets and reference from index.html using link tag

[2018-01-26 22:14] jakub-astrahit commented on #61
Yep, it was that simple. Now I look like an idiot 🤣  Thanks for your fast response!

[2018-01-26 22:15] #61 closed, assigned to nobody

[2018-01-26 22:19] jakub-astrahit opened #62 "Installing behind a proxy"
Hi, here's an issue I'm having when I try to install this repo behind a proxy. When I run this script: `npm run init`, I get these errors:
[code]

How can I set up a proxy for installing this please? Is it even possible?

I tried running this but it didn't help: `setx HTTPS_PROXY <proxy>`

[2018-01-26 22:25] piotrwitek commented on #62
No idea, I would suggest to look through issues in the jspm repo or StackOverflow

[2018-01-26 22:43] jakub-astrahit commented on #62
@piotrwitek Still no luck even after setting my environment variables, git proxy etc. Is there a way I can skip this step (`npm run init`) and avoid jspm with this repo?

For now, I ended up copying the jspm_packages folder manually from outside proxy (different computer), and then instead of running `npm run init`, I just ran this: `npm run dev:bundle`

[2018-02-01 13:07] js2me commented on #62
Hello, try :
[code]

[2018-02-01 13:13] jakub-astrahit commented on #62
@js2me Didn't work.